$naranja-titulos: #FF7900;
$naranja-header: #ffab5c;
$blanco-body:rgb(221, 221, 221);
$darkblue:darkblue;
$naranja-subtitulo:rgb(235, 212, 135);
$fondo-texto-banner-2:rgba(11, 11, 11, 0.8);
$gris-bordes: rgb(128, 126, 126);
$card-index-1:rgb(23, 104, 27);
$card-index-2:rgb(29, 75, 75);
$card-index-3:rgb(109, 54, 23);
$fondo-footer:#db6930;
$fondo-btn-footer:#000;
$fondo-btn-footer-2:#FF7900;
$fondo-copyright: darken($fondo-footer, 20%);
$fondo-header-puntajes:rgb(245, 176, 86);
$titulo-video-youtube: rgb(19, 49, 49);