@font-face {
    font-family: 'roboto-medium';
    font-display: swap;
    src: url('../fonts-web/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'monserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts-web/Roboto-Medium.ttf') format('truetype');
}

$font-roboto-medium:'roboto-medium',
'sans-serif';
$font-size-texto: 1em,
2em,
3em,
4em,
5em;