/* MEDIA QUERYS*/


/*Desktop*/

@media only screen and (min-width: 960px) {
    /*Navbar*/
    .logo-name {
        display: none;
    }
    #submenu-perfil {
        margin: 0 25px;
    }
    /*Carousel*/
    #carousel-index {
        margin-top: 8%;
        .carousel-caption-superior {
            bottom: 18rem;
        }
    }
    /*Galería*/
    .galeria-grid-container {
        display: flex;
    }
    .grid-container div img {
        border-radius: 5px;
    }
    .grid-container {
        //para este mixin, se pasa: display, template-columns, template-rows y gap
        @include mixin-grid-container(grid, 200px 200px 200px 200px, 200px 200px 200px 200px 200px, 5px)
    }
    //Para los grid-items, se pasa grid-column y grid row al mixin:
    //tuve que utilizar #{} en los valores que llevan "/" porque sino sass me los toma como division
    .grid-item-1 {
        @include mixin-grid-item(#{1/5}, 1);
    }
    .grid-item-2 {
        @include mixin-grid-item(1, 2);
    }
    .grid-item-3 {
        @include mixin-grid-item(2, 2);
    }
    .grid-item-4 {
        @include mixin-grid-item(3, 2);
    }
    .grid-item-5 {
        @include mixin-grid-item(4, #{2/4});
    }
    .grid-item-6 {
        @include mixin-grid-item(1, #{3/5});
    }
    .grid-item-7 {
        @include mixin-grid-item(#{2/4}, 3);
    }
    .grid-item-8 {
        @include mixin-grid-item(2, 4);
    }
    .grid-item-9 {
        @include mixin-grid-item(3, 4);
    }
    .grid-item-10 {
        @include mixin-grid-item(4, 4);
    }
    .grid-item-11 {
        @include mixin-grid-item(#{1/5}, 5);
    }
    .formulario-contacto {
        max-width: 40rem;
        width: 90%;
    }
}


/*Tablet*/

@media only screen and (min-width: 415px) and (max-width: 960px) {
    /*Navbar*/
    .logo-name {
        display: none;
    }
    #submenu-perfil {
        padding: 0;
    }
    /*Carousel*/
    #carousel-index {
        margin-top: 10%;
        min-width: 48rem;
        .carousel-caption-superior {
            bottom: 10rem;
        }
        .titulo-index {
            font-size: 3em;
        }
    }
    /*Galería*/
    .galeria-grid-container {
        display: flex;
    }
    .grid-container div img {
        border-radius: 5px;
    }
    .grid-container {
        //para este mixin, se pasa: display, template-columns, template-rows y gap
        @include mixin-grid-container(grid, 200px 200px 200px, 200px 200px 200px 200px 200px 200px, 5px)
    }
    //Para los grid-items, se pasa grid-column y grid row al mixin:
    //tuve que utilizar #{} en los valores que llevan "/" porque sino sass me los toma como division
    .grid-item-1 {
        @include mixin-grid-item(#{1/4}, 1);
    }
    .grid-item-2 {
        @include mixin-grid-item(1, 2);
    }
    .grid-item-3 {
        @include mixin-grid-item(2, 2);
    }
    .grid-item-4 {
        @include mixin-grid-item(3, 2);
    }
    .grid-item-5 {
        @include mixin-grid-item(1, #{3/5});
    }
    .grid-item-6 {
        @include mixin-grid-item(3, #{3/5});
    }
    .grid-item-7 {
        @include mixin-grid-item(#{1/3}, 5);
    }
    .grid-item-8 {
        @include mixin-grid-item(2, 3);
    }
    .grid-item-9 {
        @include mixin-grid-item(2, 4);
    }
    .grid-item-10 {
        @include mixin-grid-item(3, 5);
    }
    .grid-item-11 {
        @include mixin-grid-item(1, 6);
    }
    .head-foot {
        content: url("../multimedia/img/Grid/1T.png");
    }
    .formulario-contacto {
        max-width: 40rem;
        width: 90%;
    }
}


/*Mobile*/

@media only screen and (max-width: 414px) {
    /*Navbar*/
    #submenu-perfil {
        padding: 0;
    }
    /*Carousel*/
    #carousel-index {
        margin-top: 5em;
        .carousel-caption {
            max-height: min-content;
            .titulo-index {
                font-size: 2.5em;
                margin-bottom: 0;
            }
            .banner-subtitulo {
                margin-bottom: 0;
            }
        }
        .carousel-caption-superior {
            bottom: 5.5rem;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .seccion-video-index {
        .texto-titulo-video-index {
            font-size: nth($font-size-texto, 2);
        }
    }
    .index-video {
        text-align: center;
        height: 15rem;
        max-height: 15rem;
    }
    /*Galería*/
    .galeria-grid-container {
        display: flex;
    }
    .grid-container div img {
        border-radius: 5px;
    }
    .grid-container {
        //para este mixin, se pasa: display, template-columns, template-rows y gap
        @include mixin-grid-container(grid,
        200px 200px,
        200px 200px 200px 200px 200px 200px 200px 200px,
        5px)
    }
    //Para los grid-items, se pasa grid-column y grid row al mixin:
    //tuve que utilizar #{} en los valores que llevan "/" porque sino sass me los toma como division
    .grid-item-1 {
        @include mixin-grid-item(#{1/3},
        1);
    }
    .grid-item-2 {
        @include mixin-grid-item(1,
        2);
    }
    .grid-item-3 {
        @include mixin-grid-item(2,
        2);
    }
    .grid-item-4 {
        @include mixin-grid-item(1,
        3);
    }
    .grid-item-5 {
        @include mixin-grid-item(2,
        #{3/5});
    }
    .grid-item-6 {
        @include mixin-grid-item(1,
        #{4/6});
    }
    .grid-item-7 {
        @include mixin-grid-item(#{1/3},
        6);
    }
    .grid-item-8 {
        @include mixin-grid-item(2,
        5);
    }
    .grid-item-9 {
        @include mixin-grid-item(1,
        7);
    }
    .grid-item-10 {
        @include mixin-grid-item(2,
        7);
    }
    .grid-item-11 {
        @include mixin-grid-item(1,
        8);
    }
    .head-foot {
        content: url("../multimedia/img/Grid/1M.png");
    }
    .formulario-contacto {
        width: 90%;
    }
}